<h1> Hello </h1>
<form action="http://localhost:3000/photos/:id/edit">
<img src ="<%=@photo.source %>" width="400">
<label> Caption: </label>
<input type="text" name="the_caption">
<label> Source: </label>
<input type="text" name="the_source">
<button>Edit Photo </button>
</form>
